@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  background-image: url("../images/bgMF.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  font-family: cursive;
  font-size: 30px;
  /* padding: 5px; */
  text-decoration: underline transparent;
}
.active {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  height: 40px;
}
.heading {
  margin-left: 300px;
  margin-right: 300px;
  height: 100px;
  background-color: black;
  color: white;
  padding-top: 15px;
  opacity: 0.8;
}

#form {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 300px;
  margin-right: 300px;
  background-color: black;
  color: white;
  opacity: 0.8;
  font-size: large;
}
.column {
  float: left;
  width: 50%;
}

.button {
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.submit {
  background-color: white;
  font-size: large;
  color: black;
  border-radius: 25px;
  border: 2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  height: 50px;
  opacity: 0.8;
  cursor: pointer;
}
