body {
  background-image: url("../images/volunteer.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  font-family: cursive;
  font-size: 30px;
  /* padding: 5px; */
  text-decoration: underline transparent;
}
.active {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  height: 40px;
}

.heading {
  margin-left: 300px;
  margin-right: 300px;
  background-color: white;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.8;
}

.para {
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  background-color: white;
  color: black;
  opacity: 0.8;
  padding-right: 20px;
  padding-left: 20px;
}

.submit {
  background-color: white;
  width: 150px;
  text-decoration: underline transparent;
  font-size: large;
  color: black;
  border-radius: 25px;
  border: 2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.7;
  cursor: pointer;
}
